@font-face {
  font-family: 'MyFont';
  src: url('font/Myfont-Regular.ttf') format('truetype');
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
  user-select: none;       
  -webkit-user-drag: none; 
  -khtml-user-drag: none;  
  -moz-user-drag: none;    
  -o-user-drag: none;     
        
  pointer-events: auto;    
}
/* Fixed background that doesn't scroll */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/web back 3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    
}

.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fffafc;
  border-radius: 15px;
  border: 2px solid #f3cce0;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 15px;
}



body {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    user-select: none;
}


main {
    display: flex;
    height: 100vh;
    align-items: center;
    gap: 150px; 
}
main {
  cursor: grab;
}

.draggable {
  width: 600%;
  display: flex;
}

main:active {
  cursor: grabbing;
}

section {

    background-color: white;
    color: black;
    max-width: 650px; 
    min-height: 550px;
    padding: 5rem;
    top: 1000;
   left: 50;
      border-radius: 2.5px 5px 5px 2.5px;
    aspect-ratio: 3/ 4;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}


/* Rotation classes */
.rotate-5  { transform: rotate(5deg); }
.rotate-3  { transform: rotate(3deg); }
.rotate--5 { transform: rotate(-5deg); }
.rotate--3 { transform: rotate(-3deg); }

/* Background pattern images */
.pattern-1 { background-image: url('./images/patterns\ book\ cover\ 1.png'); }
.pattern-2 { background-image: url('./images/patterns\ book\ cover\ 2.png'); }
.pattern-3 { background-image: url('./images/patterns\ book\ cover\ 3.png'); }
.pattern-4 { background-image: url('./images/patterns\ book\ cover\ 4.png'); }
.pattern-5 { background-image: url('./images/patterns\ book\ cover\ 5.png'); }
.pattern-6 { background-image: url('./images/pattern\ 6\ book.png'); }

section {
  font-family: 'MyFont', sans-serif;
   font-size: 40px;
   
   
}

.items {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.item {
  display: inline-block;
  /* background: rgb(5, 121, 24); */
  min-height: 250px;
  min-width: 400px;
  margin: 2em 1em;

  @media screen and (max-width: 500px) {
      min-height: 200px;
      min-width: 200px;
  }
}
.section-flex {
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.section-flex button {
  margin-top: auto;
}
.book-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.book-link section {
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: top ;
  text-align: center;
}

.book-link section:hover {
  transform: scale(1.03);
}

